                <section>
					<section>
						<h2>Customisation</h2>
						<ul>
							<li>Extensions</li>
							<li>Alabaster Theme</li>
							<li>Material icon pack</li>
							<li>FiraCode</li>
						</ul>
					</section>
					<section>
						<h2>Extensions</h2>
						<img src="lib/img/extensions.png" alt="">
					</section>
					<section>
						<h2>Extensions</h2>
						<ul>
							<li>Recommendations</li>
							<li>Popular extensions</li>
							<li>Enable/disable extensions</li>
						</ul>
					</section>
					<section>
						<h2>Alabaster theme</h2>
						<img src="lib/img/alabaster.png" alt="" style="width:48%; float:left;">
						<ul style="width:48%; float:right; margin-top: .9em; font-size: .8em;">
							<li>Minimal amount of highlighting</li>
							<li>Does not highlight standard language keywords (if, else, function etc.)</li>
							<li>Highlights comments</li>
							<li>No font variations (bold, italic)</li>
						</ul>
					</section>
					<section>
						<h2>Material Icon Theme</h2>
						<img src="lib/img/material.png" alt="" style="width:60%;">
					</section>
					<section>
						<h2>FiraCode</h2>
						<img src="lib/img/fira.png" alt="" style="width:60%;">
					</section>
				</section>
