<section>
					<section>
						<h2>Text formatting</h2>
						<ul>
							<li>Log File highlighter </li>
							<li>Text Alignment</li>
							<li>Readme preview</li>
							<li>Copying/moving lines</li>
							<li>Code formatting</li>
							<li>Trimming trailing spaces</li>
							<li>Selections</li>
						</ul>
					</section>
					<section>
						<h2>Log file highlighter</h2>
						<img src="lib/img/highlighter.png" alt="" style="width:80%;">
					</section>
					<section>
						<h2>Text Alignment</h2>
						<img src="lib/img/align.gif" alt="">
						<p class="hotkey">⌘ ⇧ P &rarr; Align</p>
					</section>
					<section>
						<h2>Readme preview</h2>
						<img src="lib/img/readme.png" alt="" style="width:70%;">
						<p class="hotkey">⌘ K, V</p>
					</section>
					<section>
						<h2>Copying lines</h2>
						<img src="lib/img/copy_line.gif" alt="">
						<p class="hotkey">⌥ ⇧ ↓</p>
						<p class="hotkey">⌥ ⇧ ↑</p>
					</section>
					<section>
						<h2>Moving lines</h2>
						<img src="lib/img/move_line.gif" alt="" style="width:48%; float:left;">
						<div style="width:48%; float:right; padding-top:15%">
							<p class="hotkey">⌥ ↓</p>
							<p class="hotkey">⌥ ↑</p>
						</div>
					</section>
					<section>
						<h2>Code formatting</h2>
						<img src="lib/img/code_formatting.gif" alt="" style="width:70%;">
						<p class="hotkey">⌘ K, ⌘ F</p>
					</section>
					<section>
						<h2>Trimming white spaces</h2>
						<img src="lib/img/trim.gif" alt="">
						<p class="hotkey">⌘ ⇧ X</p>
					</section>
					<section>
						<section id="fragments">
							<h2>Selections</h2>
							<div style="width:48%; float:left;">
								<img src="lib/img/current_line.gif" alt="">
								<p class="hotkey">⌘ I</p>
							</div>
							<div class="fragment" style="width:48%; float:right;">
								<img src="lib/img/multicursor.gif" alt=""  style="margin-bottom: 11%;">
								<p class="hotkey">⌥ ⌘ ↑</p>
								<p class="hotkey">⌥ ⌘ ↓</p>
							</div>
						</section>
					</section>
				</section>