<section>
					<section>
						<h2>Integrated git</h2>
						<ul>
							<li>Diffs</li>
							<li>Branches</li>
							<li>Staging and committing</li>
							<li>Merge conflicts</li>
						</ul>
					</section>
					<section>
						<h2>Diffs</h2>
						<div style="clear:both;">
							<img src="lib/img/git_icon.png" alt="">
						</div>
						<img src="lib/img/diff.png" alt="" style="width:55%;">
					</section>
					<section>
						<h2>Branches</h2>
						<img src="lib/img/branches.gif" alt="" style="width:80%;">
					</section>
					<section>
						<h2>Staging and committing</h2>
						<div style="width:48%; float:left;">
							<img src="lib/img/stage.gif" alt="">
						</div>
						<div style="width:48%; float:right;">
							<img src="lib/img/commit.gif" alt="">
						</div>
					</section>
					<section>
						<h2>Merge conflicts</h2>
						<img src="lib/img/conflict.png" alt="" style="width:80%;">
					</section>
					<section>
						<h2>Git Lens</h2>
						<img src="lib/img/gitlens.gif" alt="" style="width:80%;">
					</section>
				</section>