<section>
					<h2>Links</h2>
					<ul>
						<li><a href="https://code.visualstudio.com/">VS Code</a>, <a href="https://github.com/Microsoft/vscode-tips-and-tricks">other tips and tricks</a> and <a href="https://github.com/viatsko/awesome-vscode">awesome-vscode</a></li>
						<li><a href="https://marketplace.visualstudio.com/items?itemName=tonsky.theme-alabaster">Alabaster theme</a>, <a href="https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme">icons</a> and <a href="https://github.com/tonsky/FiraCode">FiraCode</a></li>
						<li><a href="http://zsh.sourceforge.net/">zsh</a>, <a href="https://fishshell.com/">fish</a>, <a href="http://ohmyz.sh/">oh-my-zsh</a> (+ <a href="https://github.com/robbyrussell/oh-my-zsh/wiki/Plugins-Overview">plugins</a> and <a href="https://github.com/robbyrussell/oh-my-zsh/wiki/themes">themes</a>)</li>
						<li><a href="https://iterm2.com/">iTerm</a></li>
						<li><a href="https://github.com/ephimoff/dotfiles">My dotfiles</a>, <a href="https://github.com/craighurley/dotfiles">Craig's ones</a> and <a href="https://dotfiles.github.io">a collection</a> of other people's</li>
					</ul>
				</section>
