<section>
					<section>
						<h2>Linting</h2>
						<ul>
							<li><a href="https://marketplace.visualstudio.com/items?itemName=DavidAnson.vscode-markdownlint">Markdownlint</a></li>
							<li><a href="https://marketplace.visualstudio.com/items?itemName=hoovercj.ruby-linter">Ruby-linter</a></li>
							<li><a href="https://marketplace.visualstudio.com/items?itemName=donjayamanne.python">Python</a></li>
							<li><a href="https://marketplace.visualstudio.com/items?itemName=timonwong.shellcheck">Shellcheck</a></li>
						</ul>
					</section>
					<section>
						<h2>Linting</h2>
						<blockquote cite="https://en.wikipedia.org/wiki/Lint_(software)">
							&ldquo;Linting is the process of running a program that will analyse code for potential errors. &rdquo;
						</blockquote>
						<p style="float: right;">&mdash; <a href="https://en.wikipedia.org/wiki/Lint_(software)">Wikipedia</a></p>
					</section>
					<section>
						<h2>Markdownlint</h2>
						<img src="lib/img/markdownlint.png" alt="" style="width:80%;">
					</section>
					<section>
						<h2>Markdownlint</h2>
						<pre><code class="hljs json" style="word-wrap: break-word;">
"markdownlint.config": {
"MD013": false,
"MD014": false,
"MD024": false,
"MD033": false,
"MD040": false,
"MD007": { "indent": 4 }
},
						</code></pre>	
					</section>
				</section>