<section>
					<section>
						<h2>Productivity</h2>
						<ul>
							<li>Command palette</li>
							<li>Quick navigation</li>
							<li>Refactoring, peek and references</li>
							<li>Lint </li>
							<li>Key bindings and Settings files</li>
							<li>CLI tool</li>
						</ul>
					</section>
					<section>
						<h2>Command palette</h2>
						<img src="lib/img/command.gif" alt="" style="width:60%;">
						<p class="hotkey">⌘ ⇧ P</p>
					</section>
					<section>
						<h2>Quick navigation</h2>
						<img src="lib/img/quick.gif" alt="" style="width:70%;">
						<p class="hotkey">⌘ P</p>
					</section>
					<section>
						<h2>Peek</h2>
						<img src="lib/img/peek.gif" alt="" style="width:70%;">
						<p class="hotkey">⌥ F12</p>
					</section>
					<section>
						<h2>Go to definition</h2>
						<img src="lib/img/goto_definition.gif" alt="" style="width:48%; float:left;">
						<div style="width:48%; float:right; padding-top:20%">
							<p class="hotkey">F12</p>
						</div>
					</section>
					<section>
						<h2>Find all references</h2>
						<img src="lib/img/find_all_references.gif" alt="" style="width:60%;">
						<p class="hotkey">⇧ F12</p>
					</section>
					<section>
						<h2>Renaming</h2>
						<img src="lib/img/rename.gif" alt="" style="width:60%;">
						<p class="hotkey">F2</p>
					</section>
				</section>