<section>
					<section>
						<h2>Settings</h2>
						<div style="width:48%; float:left;">
							<img src="lib/img/settings1.png" alt="" style="width:60%;">
							<img src="lib/img/settings2.png" alt="" style="width:60%;">
						</div>
						<div style="width:48%; float:right;">
							<img src="lib/img/settings3.png" alt="" style="width:50%;">
						</div>
					</section>
					<section>
						<h2>Settings</h2>
							<img src="lib/img/settings4.png" alt="" style="width:80%;">
							<img src="lib/img/settings5.png" alt="" style="width:80%;">
					</section>
				</section>