<section>
					<section>
						<h2>Snippets</h2>
						<ul>
							<li>Snippets in marketplace</li>
							<li>Custom snippets</li>
						</ul>
					</section>
					<section>
						<h2>Snippets</h2>
						<img src="lib/img/snippets1.gif" alt="" style="width:80%;">
					</section>
					<section>
						<h2>Snippets</h2>
						<div style="width:48%; float:left;">
							<img src="lib/img/snippets2.png" alt="">
						</div>
						<div style="width:48%; float:right;">
							<img src="lib/img/snippets3.png" alt="">
						</div>
					</section>
				</section>